@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@background: #424242;
@fontColor: #F4F4F4;
@mainFont: Roboto;

body {
    background: @background;
    color: @fontColor;
    font-family: @mainFont;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}